body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    font-family: 'Montserrat', sans-serif;
  }

.container {
    width: 100%;
    display: flex;
  }
  
.atencao {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}


.login{
    text-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 135px;
}
.imageLogin{
    padding-top: 75px;
    padding-left: 50px;
    padding-bottom: 10px;
    padding-right: 50px;
    max-width: 55%;
    max-height: 55%;
    height: auto;
  }

  .divLogin {
    width: 40%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    background-color: #F2F5F7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divImage{
    text-align: center;
}

@keyframes slideUp {
    from {
        transform: translateY(350%);
    }
    to {
        transform: translateY(0);
    }
}

.image-slider {
    position: relative;
    overflow: hidden;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.message-image1 {
    width: 75%;
    height: auto;
    animation: slideUp 2s ease-in-out;
    margin-bottom: 40px;
    margin-left: 100px;
}

.message-image2 {
    width: 75%;
    height: auto;
    max-height: 100%;
    animation: slideUp 2s ease-in-out;
    margin-bottom: 50px;
    margin-right: 100px;
}