.card-pergunta {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 16px;
    overflow: hidden;
    width: 250px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .card-header {
    background-color: #0193c2;
    color: #fff;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  
  .card-body {
    padding-left: 8px;
    margin-top: 0px;
  }
  
  .card-text {
    font-weight: bold;
  }
  
  .resposta {
    font-weight: lighter;
  }

  .delete-button {
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
  }

  .delete-button:hover{
    color: #FF0000;
  }