.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #d9d9d9;
  }
  
  .logo {
    font-size: 18px;
    font-weight: bold;
  }
  
  .logout-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .logout-button svg {
    margin-left: 5px;
  }
  
  .logout-button:hover svg {
    color: #0193C2;
  }